.comment_item
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #757373;
  margin: 10px;
  border-radius: 10px;
}

.author_link_block
{
  display: inline-block;
}

.author_link
{
  color: #000;
  font-style: italic;
  width: 100%;
  font-weight: 700;
}

.comment_text
{
  margin-top: 5px;
  display: inline;
}