.user
{
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid #fff;
  padding: 15px 10px;
  margin: 10px 0;
}

.username
{
  color: #000;
}

.user_info
{
  margin-right: 150px;
  display: flex;
  align-items: center;

}

.user_avatar
{
  margin-right: 10px;
}

.user_avatar
{
  width: 40px;
  height: 40px;
  border-radius: 3px;

  img 
  {
    width: 100%;
    height: 100%;
  }
}

.user_handlers
{
  display: flex;
}

.user_handlers__btn
{
  color: #00b8ff;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  margin: 0 5px;

  &::after 
  {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #00b8ff;
    transition: .3s;
    opacity: 0;
    bottom: 0;
    left: 0;
  }

  &:hover::after 
  {
    opacity: 1;
  }



}


.friends_list
{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex-direction: column;
  color: #fff;
}


.friends_handler__nav
{
  padding-top: 20px;
  display: flex;
  color: #fff;
  justify-content: center;
}

.friends_handler__item
{
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: .3s;
  position: relative;
  transition: .3s;


  &::after
  {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
    opacity: 0;
  }
}

.selected
{
  &::after
  {
    opacity: 1;
  }
}