.explore_page
{
    height: 100%;  
    padding-bottom: 50px;

}

.load_more
{
    font-size: 25px;
    margin: 20px auto;
    display: flex;
    background: #766ac8;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 3px;
    cursor: pointer;
    

}