
.message_block
{
  position: relative;
  margin: 10px 10px 0 0 ;
  display: flex;

}

.message
{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;

}

.create_time
{
  font-size: 12px;
  margin-left: 5px;
}

.my_message
{
  max-width: 100%;
  position: relative;
  background: rgb(118, 106, 200);
  margin: auto 0 auto auto
}

.to_me_message
{
  background: #212121;
}
