.dialog
{
  display: flex;
  width: 600px;
  position: relative;
  padding: 10px;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;


}


.messages_block
{
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 50px;


  &::-webkit-scrollbar
  {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb
  {
    height: 10px;
    border-radius: 2px;
    background: #8a8a90;
  }
}

.message_block
{
  position: relative;
  margin: 10px 10px 0 0;
  display: flex;

}

.loadMore
{
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 20px auto 40px auto;
  display: flex;
  position: relative;
  transition: all .3s;

  &::before
  {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: #766ac8 solid 3px;
    transition: .3s;
    z-index: -1;
    opacity: 0;
  }

  &::after
  {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: #766ac8 dotted 3px;
    transition: .3s;
    z-index: 2;
  }


  &:hover::before
  {
    opacity: 1;
    z-index: 3;
  }


  &:disabled::after,
  &:disabled::before
  {
    border: 3px dashed #46dfb1;

  }

}


.message
{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;

}

.create_time
{
  font-size: 12px;
  margin-left: 5px;
}

.my_message
{
  max-width: 100%;
  position: relative;
  background: #766ac8;
  margin: auto 0 auto auto
}

.to_me_message
{
  background: #212121;
}

.bottomAnchor
{
  background: #000;
}




.input_block
{
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-top: 20px;
  align-items: center;
  position: relative;
}


.message_input
{
  width: 90%;
  max-width: 90%;
  padding: 10px 15px 30px 15px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: #212121;
  outline: none;
  color: #fff;
  height: 60px;

  overflow-y: scroll;
  resize: none;
  margin: 0 5px;

  &::placeholder
  {
    color: #8a8a90;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb
  {
    height: 10px;
    border-radius: 2px;
    background: #8a8a90;
  }
}


.message_send_btn
{
  font-size: 25px;
  color: #766ac8;
  background: #212121;
  border: none;
  border-radius: 50%;
  width:  55px;
  height: 55px;
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
  transition: .3s;

  &:hover
  {
    color: #fff;
    background: #766ac8;;
  }
  
}

.to_bottom_btn
{
  position: absolute;
  right: 20px;
  bottom: 100px;
  font-size: 25px;
  background: #212121;
  border: none;
  color: #fff;
  width: 50px;
  font-weight: 100;
  height: 50px;  
  border-radius: 100%;
  transition: .3s;
  cursor: pointer;

}

.span_container 
{
  position: relative;

  .first_span
  {
    position: absolute;
    display: block;
    background: #fff;
    height: 18px;
    width: 3px;
    right: -8px;
    top: -5px;
    transform: rotate(57deg);
  }

  .second_span
  {
    position: absolute;
    display: block;
    background: #fff;
    height: 18px;
    width: 3px;
    left: -8px;
    top: -5px;
    transform: rotate(-57deg);
  }
}